PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
SUPABASE_URL=https://ayotqhimidcpczunzrtr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5b3RxaGltaWRjcGN6dW56cnRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0NTA3NTUsImV4cCI6MjEwNDAyNjc1NX0.ThNjxOBurkghUd9XvXtpEtLTI2GxNpy2tdGrXDkiZU4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5b3RxaGltaWRjcGN6dW56cnRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODQ1MDc1NSwiZXhwIjoyMTA0MDI2NzU1fQ.UwDrCZ1mG_ASa5ewq_pQljdAVeDamob-iGGWB7TXHKM
DATABASE_URL=postgresql://postgres.ayotqhimidcpczunzrtr:HFmbp0SFkMQfvMEH@aws-0-eu-central-1.pooler.supabase.com:6543/postgres